body {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(3, 3, 130);
}
button {
    border-radius: 15%;
    background-color: rgb(34, 255, 0);
    color: black;
    font-size: 20px;
    height: 40px;
    margin-inline: 20px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-header {
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    background-color: blue;
}
.group-letter {
    margin-right: 10%;
    margin-top: 20px;
}
.group-teams-outer-container {
    width: 60%;
}
.group-teams-inner-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    height: 80%;
    background-color: lime;
}
.header-team {
    color: black;
    background-color: white;
    border-radius: 15%;
    margin: 10px;
}
.header-team img {
    height: 24px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid rgba(94, 94, 94, 0.179);
}
.matchday-title {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 15%;
}
.matchdays-container {
    font-size: 30px;
    /* margin-bottom: 10px; */
}
.matchdays-item {
    margin-left: 2%;
    margin-right: 2%;
}
.score-input {
    width: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.full-height {
    height: 100vh;
}
.submit-confirmation {
    text-align: center;
    background-color: blue;
    border: 5px solid black;
    border-radius: 15%;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25vh;
    left: 25vw;
}
.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}