body {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(3, 3, 130);
}
button {
    border-radius: 15%;
    background-color: rgb(34, 255, 0);
    color: black;
    font-size: 20px;
    height: 40px;
    margin-inline: 20px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-header {
    position: sticky;
    top: 0px;
    z-index: 10;

    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    background-color: blue;
}
.group-letter {
    margin-right: 10%;
    margin-top: 20px;
}
.group-teams-outer-container {
    width: 60%;
}
.group-teams-inner-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    height: 80%;
    background-color: lime;
}
.header-team {
    color: black;
    background-color: white;
    border-radius: 15%;
    margin: 10px;
}
.header-team img {
    height: 24px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid rgba(94, 94, 94, 0.179);
}
.matchdays-container {
    display: grid;
    grid-template-columns:
        100px   /* match id */
        300px   /* time */
        300px   /* team 1 */
        40px    /* home score */
        30px    /* v */
        40px    /* away score */
        300px   /* team 2 */
        300px;  /* place */
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: 30px;
    margin: 10px 0;
}
.score-input {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.full-height {
    height: 90vh;
}
.submit-confirmation {
    text-align: center;
    background-color: blue;
    border: 5px solid black;
    border-radius: 15%;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25vh;
    left: 25vw;
}
.navbar {
    display: flex;
    justify-content: space-between; /* pushes left and right apart */
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.login h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.login h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
.login h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.versus {
    text-align: center;
}